/*  your css code here. If applicable */
*{
	background-color: rgb(204, 204, 204);
/* 	z-index: 1; */
}

.heading{
	text-align: center;
}

a{
	text-decoration: none;
	background-color: white;
	color: black;
}

li{
	list-style-type: none;
	background-color: white;
}

#songs{
/* 	padding: 10px; */
	margin: 10px;
/* 	z-index: 2; */
	background-color: white;
	border: 1px solid black;
	border-radius: 10px;
/* 	height: 150px; */
}

ul{
	background-color: white;
}

#media{
	background-color: rgb(255, 255, 255); 
	text-align: center;
	border-radius: 10px;
	padding-top: 10px;
	margin: 10px;
	border: 1px solid black;
}

video{
	background-color: rgb(255, 255, 255); 
}


audio{
	text-align:center;
}